# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Model & data (optional, kalau besar)
*.h5
*.keras
*.pt
downloads/

# temp files
*.tmp